In [95]:
from bs4 import BeautifulSoup
from pandas import DataFrame
from time import sleep
import urllib.request
import pandas as pd
import numpy as np
import requests
import datetime
import requests
import os
import io
import re

In [ ]:
#locations=['sandiego','losangeles','monterey']

In [99]:
url = f'https://fresno.craigslist.org/d/cars-trucks-by-owner/search/cto'
Links=[]
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
total_posts=int(soup.find("span", {"class": "total"}).text)
fraction=total_posts%120

In [100]:

final_links=[]

for i in range(0,total_posts-fraction,120):
    url = f'https://fresno.craigslist.org/d/cars-trucks-by-owner/search/cto?s={i}'
    Links=[]
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")
    for link in soup.findAll('a', attrs={'href': re.compile("^https://")}):
        Links.append(link.get('href'))
    
    for i in range(9, 249):
        if i%2==0:
            final_links.append(Links[i])

In [101]:
len(final_links)

960

In [102]:
spec_list=[]
title_list=[]
price_list=[]

for lin in final_links:
    try:
        page = requests.get(lin)
        soup = BeautifulSoup(page.text, "html.parser")
        spec_list.append(soup.find_all("p", {"class": "attrgroup"})[1].text.strip('\n').replace("\n"," ").split(" "))
        title_list.append(soup.find_all("p", {"class": "attrgroup"})[0].text.strip('\n'))
        price_list.append(str(soup.find("span", {"class": "price"})).strip('$').replace(',',""))
    except:
        continue

In [103]:
df_=pd.DataFrame(columns=['year:','make:','model:','trim:','VIN:','condition:','odometer:',
                          'cylinders:','color:','transmission:',
                          'type:','status:','drive:','fuel:','price:'])

In [104]:
for i,title in enumerate(title_list):
    if(len(title.split())>=4 and not(title.split()[1].isnumeric())):
            df_.loc[f'{i}','year:']=title.split()[0]
            df_.loc[f'{i}','make:']=title.split()[1]
            df_.loc[f'{i}','model:']=title.split()[2]
            df_.loc[f'{i}','trim:']=title.split()[3]
    if(len(title.split())==3 and not(title.split()[1].isnumeric())):
            df_.loc[f'{i}','year:']=title.split()[0]
            df_.loc[f'{i}','make:']=title.split()[1]
            df_.loc[f'{i}','model:']=title.split()[2]
            df_.loc[f'{i}','trim:']= np.nan
    if(len(title.split())==4 and title.split()[1].isnumeric()):
            df_.loc[f'{i}','year:']=title.split()[0]
            df_.loc[f'{i}','make:']=title.split()[2]
            df_.loc[f'{i}','model:']=title.split()[3]
            df_.loc[f'{i}','trim:']= np.nan
    if(len(title.split())>=5 and title.split()[1].isnumeric()):
            df_.loc[f'{i}','year:']=title.split()[0]
            df_.loc[f'{i}','make:']=title.split()[2]
            df_.loc[f'{i}','model:']=title.split()[3]
            df_.loc[f'{i}','trim:']= title.split()[4]

In [105]:
for i,temp in enumerate(spec_list):
    for word in temp:
        if(word=='VIN:'):
            df_.loc[f'{i}','VIN:']=temp[temp.index(word)+1]    
        if(word=='condition:'):
             df_.loc[f'{i}','condition:']=temp[temp.index(word)+1] 
        if(word=='odometer:'):
            df_.loc[f'{i}','odometer:']=temp[temp.index(word)+1]
        if(word=='cylinders:'):
             df_.loc[f'{i}','cylinders:']=temp[temp.index(word)+1]
        if(word=='color:'):
             df_.loc[f'{i}','color:']=temp[temp.index(word)+1]
        if(word=='transmission:'):
             df_.loc[f'{i}','transmission:']=temp[temp.index(word)+1]
        if(word=='type:'):
             df_.loc[f'{i}','type:']=temp[temp.index(word)+1]
        if(word=='status:'):
             df_.loc[f'{i}','status:']=temp[temp.index(word)+1]
        if(word=='drive:'):
             df_.loc[f'{i}','drive:']=temp[temp.index(word)+1] 
        if(word=='fuel:'):
             df_.loc[f'{i}','fuel:']=temp[temp.index(word)+1]

In [106]:
for i,p in enumerate(price_list):
    df_.loc[f'{i}','price:']=p

In [107]:
df_['price:']=df_['price:'].apply(lambda x: x[21:-7])
df_['price:'] = pd.to_numeric(df_['price:'])
df_['year:'] = pd.to_numeric(df_['year:'])
df_['odometer:'] = pd.to_numeric(df_['odometer:'])

In [108]:
df_.describe()

             year:     odometer:         price:
count   923.000000  9.600000e+02     958.000000
mean   2004.375948  1.445472e+05   10723.407098
std      13.516622  4.591699e+05   10951.880967
min    1923.000000  0.000000e+00       1.000000
25%    2002.000000  7.500000e+04    4000.000000
50%    2007.000000  1.200000e+05    7350.000000
75%    2013.000000  1.680000e+05   13725.000000
max    2020.000000  1.000000e+07  125000.000000

In [127]:
df_['make:'].unique()

array(['Mercedes', 'chevrolet', 'dodge', 'Subaru', 'mercedes', 'Nissan',
       'Bmw', 'Mazda', 'Toyota', 'ram', 'Ford', 'Kia', 'Honda', 'Gmc',
       'pontiac', 'saturn', 'hyundai', 'nissan', 'Lexus', 'cadillac',
       'Hyundai', 'suzuki', 'Cadillac', 'Jeep', 'acura', 'Mini',
       'Volkswagen', 'buick', 'Hudson', 'Dodge', 'scion', 'subaru',
       'volvo', 'Galaxie', 'volkswagen', 'Chaey', 'Camaro',
       'freightliner', 'yamaha', 'mercury', 'chrysler', 'Scion',
       'Mercury', 'G6', 'Chrysler', 'SE', 'mitsubishi', 'Isuzu', 'Acura',
       'Ram', 'American', 'Volvo', 'Audi', 'chysler', 'NX200t', 'Model',
       'fiat', 'Plymouth', 'toyota/camry', 'harley', 'huyndai', 'Hummer',
       'Tesla', 'jaguar', 'International', 'Ford.', 'Saturn',
       'volkswagon', 'Datsun', 'Lincoln', 'GRAND', 'lincoln', 'plymouth',
       'Studebaker', 'Cheyenne', 'Mitsubishi', 'porsche', 'Hyudai',
       'Buick', 'lamborghini', 'infiniti', nan], dtype=object)

In [125]:
df_['make:'].replace(['mazda','MAZDA'],'Mazda',inplace=True)
df_['make:'].replace(['MITSUBISHI'],'mitsubishi',inplace=True)
df_['make:'].replace(['mercedez','mercedes-benz','Mercedes','Benz','MERCEDES','Merceds','MERCEDES-BENZ',
                      'Mercedes-Benz','mersedes'],'Mercedes',inplace=True)
df_['make:'].replace(['Chevi','CHEVY','Chevrolet','chevorlet','chevy','CHEVRLET','Cheverolet','Chevy','Chev',
                      'CHEVROLET','chev'],'chevrolet',inplace=True)
df_['make:'].replace(['Vw','VW','vw','VOLKSWAGEN','V.W'],'Volkswagen',inplace=True)
df_['make:'].replace(['Toyot','Toyoda','TOYOTA','toyota'],'Toyota',inplace=True)
df_['make:'].replace(['mini','MINI'],'Mini',inplace=True)
df_['make:'].replace(['izuzu','isuzu'],'Isuzu',inplace=True)
df_['make:'].replace(['Hunday','hundai','hyundia','HYUNDAI'],'Hyundai',inplace=True)
df_['make:'].replace(['bmw','bimmer','BMW'],'Bmw',inplace=True)
df_['make:'].replace(['audi','AUDI'],'Audi',inplace=True)
df_['make:'].replace(['LEXUS','lexus'],'Lexus',inplace=True)
df_['make:'].replace(['KIA','kia'],'Kia',inplace=True)
df_['make:'].replace(['ford','FORD','for'],'Ford',inplace=True)
df_['make:'].replace(['GMC','gmc','Gmc'],'Gmc',inplace=True)
df_['make:'].replace(['HONDA','Houda','honda'],'Honda',inplace=True)
df_['make:'].replace(['jeep','Jeeb','JEEP'],'Jeep',inplace=True)
df_['make:'].replace(['HUMMER','hummer'],'Hummer',inplace=True)
#df_['make:'].replace([],'',inplace=True)

In [126]:
df_['make:'].nunique()

81

In [112]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 960 entries, 0 to 931
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year:          923 non-null    float64
 1   make:          923 non-null    object
 2   model:         923 non-null    object
 3   trim:          396 non-null    object
 4   VIN:           54 non-null     object
 5   condition:     680 non-null    object
 6   odometer:      960 non-null    int64
 7   cylinders:     650 non-null    object
 8   color:         574 non-null    object
 9   transmission:  960 non-null    object
 10  type:          521 non-null    object
 11  status:        960 non-null    object
 12  drive:         498 non-null    object
 13  fuel:          960 non-null    object
 14  price:         958 non-null    float64
dtypes: float64(2), int64(1), object(12)
memory usage: 160.0+ KB

In [113]:

df_final=df_.dropna(axis=0, thresh=2, subset=['year:','make:','model:','trim:'], inplace=False)

In [114]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 960 entries, 0 to 931
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year:          923 non-null    float64
 1   make:          923 non-null    object
 2   model:         923 non-null    object
 3   trim:          396 non-null    object
 4   VIN:           54 non-null     object
 5   condition:     680 non-null    object
 6   odometer:      960 non-null    int64
 7   cylinders:     650 non-null    object
 8   color:         574 non-null    object
 9   transmission:  960 non-null    object
 10  type:          521 non-null    object
 11  status:        960 non-null    object
 12  drive:         498 non-null    object
 13  fuel:          960 non-null    object
 14  price:         958 non-null    float64
dtypes: float64(2), int64(1), object(12)
memory usage: 160.0+ KB

In [115]:
df_final.head()

,year:,make:,model:,trim:,VIN:,condition:,odometer:,cylinders:,color:,transmission:,type:,status:,drive:,fuel:,price:
0,2012.0,mercedez,benz,c300,NaN,good,72000,6,white,automatic,sedan,clean,4wd,gas,11000.0
1,2006.0,chevrolet,corvette,v8,NaN,good,118000,8,red,automatic,coupe,clean,rwd,gas,16000.0
2,1968.0,dodge,charger,NaN,NaN,NaN,1000,NaN,NaN,manual,NaN,clean,NaN,gas,125000.0
3,2005.0,Subaru,Forester,NaN,NaN,excellent,220000,NaN,NaN,manual,NaN,rebuilt,NaN,gas,9300.0
4,2003.0,mercedes,benz,g500,NaN,excellent,190212,8,silver,automatic,SUV,clean,4wd,gas,29500.0

In [116]:
ct = datetime.datetime.now() 
name=str(ct)
date=name[0:-7].replace(":",'_')
date.replace(" ",'_')
df_final.to_csv(rf'C:\Users\Silmi\Desktop\craig_data\craigslist_{date}.csv')

In [ ]:
# Save the data 

datapath = '../data'
save_file(df_final, f'craigslist_{date}.csv', datapath)